@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import 'tailwindcss';

@theme {
    --background-san-francisco: url('../img/sanFrancisco.jpg');
    --background-san-francisco-desktop: url('../img/sanFranciscoDesktop.jpg');
    --background-yosemite: url('../img/yosemite.jpg');
    --background-la: url('../img/LA.jpg');
    --background-seattle: url('../img/seattle.jpg');
    --background-new-york: url('../img/new_york.jpg');
    --background-norway: url('../img/norway.jpg');
    --background-sydney: url('../img/sydney.jpg');
    --background-miami: url('../img/miami.jpg');
    --background-switzerland: url('../img/switzerland.jpg');
    --background-bali: url('../img/bali.jpg');
    --background-chicago: url('../img/chicago.jpg');
    --background-europe: url('../img/europe.jpg');
    --background-iceland: url('../img/iceland.jpg');

    --color-primary: #CC2D4A;
    --color-secondary: #8FA206;
    --color-tertiary: #61AEC9;

    --font-montserrat: "Montserrat", sans-serif;
}

@layer components {
    .Card {
        @apply w-48 h-64 shadow-md rounded-lg flex-none transform transition-all hover:translate-y-4 hover:shadow-xl;
    }

    .Card--cover {
        @apply w-full h-3/5 rounded-t-lg bg-cover;
    }

    .Card--info {
        @apply w-full h-2/5 flex flex-col justify-center items-start gap-2 p-4 rounded-b-lg;
    }

    .card-title{
        @apply font-semibold text-3xl px-8 pt-8 pb-2 text-white;
    }
}